@import 'base/variables';
@import 'base/fonts';
@import 'base/default';
@import 'sprite';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ie-window, body {
  background-color: #191616;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ie-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.ie-block {
  position: absolute;
  background-color: #141111;
  padding: 50px;
  border-radius: 10px;
  top: 40%;
  transform: translateY(-50%);
  display: block;
  & > .ie-info {
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 60px;
    & > .title {
      margin-top: 40px;
      font-size: 30px;
      color: #e4e4e4;
      margin-bottom: 20px;
    }

    & > .descriptions {
      font-size: 18px;
      line-height: 1.4;
    }
  }

  & > .ie-browsers {
    display: block;
    text-align: center;
    & > a.ie-browser {
      &:hover {
        span {
          background: #297f69;
          color: #ffff;
        }
        .ui-icon {
          top: -10px;
        }
      }

      width: 25%;
      max-width: 25%;
      display: inline-block;
      text-align: center;
      .ui-icon {
        top: 0;
        font-size: 2px;
        transition: 0.2s;
        position: relative;
      }
      .ui-icon.ui-icon-edge {
        top: 0;
        font-size: 4px;
        transition: 0.2s;
        position: relative;
      }
      span {
        color: #fff;
        font-size: 14px;
        padding: 15px;
        margin-top: 20px;
        display: block;
        transition: 0.2s;
      }
    }
  }
}
