.form-main {
    button.ui-button {
        width: 100%;
        margin-top: 20px;
        background: #efefef;
        padding: 14px 15px;

        &:hover {
            background: #e2e2e2;
        }
    }
}

label.ui-form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    & > span.title {
        position: absolute;
        z-index: 5;
        background: #f4f3ef;
        margin-left: 10px;
        font-size: 16px;
        top: 58%;
        padding: 2px 5px;
        color: #636363;
        transform: translateY(-50%);
        transition: 0.2s;
    }

    & > input {
        padding: 10px;
        padding-top: 15px;
        margin-top: 10px;
        border: 1px solid #c3c3c3;
        background: #f4f3ef;
        width: 100%;

        &:focus ~ span.title, &:valid ~ span.title {
            top: 10px;
        }
    }
}