extends ../layouts/landing.pug

block variables
 -var pageTitle='Личный кабинет reygasai'

block content
    .ui-base-block.cabinet
        h2.title Личный кабинет reygasai
        .ui-base-block-group.row
            .ui-base-element.left
                canvas#skin-container(skin-path="assets/media/images/skin.png", cloak-path="assets/media/images/cloak.png")
                .controls
                    button.active#walk
                        +icon('walk-directions')
                        span Идти
                    button#run
                        +icon('run-directions')
                        span Бежать
                    button#fly
                        +icon('fly-directions')
                        span Лететь
                    button#stop
                        +icon('pause')
                        span Пауза