extends ../layouts/landing.pug

block variables
 -var pageTitle='Cтатическая страница'

block content
    .ui-base-block.static
        h2.title Cтатическая страница
        .ui-base-block-group.row
            .ui-base-element.static
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. A suscipit repellat fugit vitae magni ipsam alias voluptatem ipsum quis dolores culpa eveniet, dolor recusandae, quia consequuntur molestiae numquam non facere? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore delectus recusandae obcaecati, reiciendis, nisi iste, id dicta veritatis cum ratione maxime numquam quibusdam? Sed consequatur alias cupiditate quae eos assumenda.<br>orem ipsum dolor sit amet consectetur adipisicing elit. A suscipit repellat fugit vitae magni ipsam alias voluptatem ipsum quis dolores culpa eveniet, dolor recusandae, quia consequuntur molestiae numquam non facere? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore delectus recusandae obcaecati, reiciendis, nisi iste, id dicta veritatis cum ratione maxime numquam quibusdam? Sed consequatur alias cupiditate quae eos assumenda.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. A suscipit repellat fugit vitae magni ipsam alias voluptatem ipsum quis dolores culpa eveniet, dolor recusandae, quia consequuntur molestiae numquam non facere? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore delectus recusandae obcaecati, reiciendis, nisi iste, id dicta veritatis cum ratione maxime numquam quibusdam? Sed consequatur alias cupiditate quae eos assumenda.